* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: hsl(213, 44%, 95%);
  min-height: 100vh;
  display: flex;
  place-content: center;
}

.testimonials {
  margin: auto;
  padding: 5vmin;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "purple1 purple1 grey1 white1"
    "white2 dark1 dark1 white1";
  gap: 2vmin;
}

.card {
  padding: 3vmin;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: hsla(216, 30%, 13%, 0.168) 0px 48px 100px 0px;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3vmin;
  margin-bottom: 3vmin;
  line-height: 1.3;
}
.card__header > img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.card__header div > p {
  opacity: 50%;
}

.card__lead {
  font-weight: bold;
  margin-bottom: 3vmin;
  line-height: 1.3;
}

.card__quote {
  opacity: 70%;
  line-height: 1.2;
}

.card:nth-of-type(1) {
  grid-area: purple1;
  background-color: hsl(263, 55%, 52%);
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: right 20% top 10%;
  color: hsl(282, 93%, 95%);
}

.card:nth-of-type(2) {
  grid-area: grey1;
  background-color: hsl(219, 19%, 35%);
  color: hsl(204, 71%, 99%);
}

.card:nth-of-type(3) {
  grid-area: white2;
}

.card:nth-of-type(4) {
  grid-area: dark1;
  background-color: hsl(217, 31%, 13%);
  color: hsl(180, 100%, 99%);
}

.card:nth-of-type(5) {
  grid-area: white1;
}

/* Media queries */

@media (max-width: 768px) {
  .testimonials {
    grid-template-columns: 1fr;
    grid-template-areas: none;
    width: 100%;
  }

  .card {
    grid-column: 1 / 2 !important;
    grid-row: auto !important;
  }
}
