/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgb(43, 42, 42);
}

header {
  font-size: large;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #e3c26f;
}
a:hover {
  color: whitesmoke;
}

/* NAVBAR */
/* 1 media query */

#navbar {
  color: whitesmoke;
  height: 100%;
  border-right: 2px solid rgba(188, 188, 188, 0.5);
}

#navbar a {
  color: whitesmoke;
}
#navbar a:hover {
  color: #e3c26f;
}

#navbar header {
  padding: min(1rem, 2vw);
}

#navbar li {
  list-style: none;
  border-top: 2px solid rgba(188, 188, 188, 0.5);
  padding: min(0.5rem, 1vw) min(1rem, 2vw);
}

/* MAIN */

#main-doc {
  color: whitesmoke;
  position: relative;
  padding: min(1rem, 2vw);
  overflow-y: scroll;
  width: 100%;
}

#main-doc #top {
  position: absolute;
  top: 0;
  left: 0;
}

#main-doc section {
  padding: min(2rem, 4vw) 0 min(2rem, 4vw) min(1rem, 2vw);
  border-bottom: 2px solid rgba(188, 188, 188, 0.5);
}
#main-doc section:first-of-type {
  padding: 0 0 min(2rem, 4vw) min(1rem, 2vw);
}
#main-doc header {
  margin-bottom: min(1rem, 2vw);
}
#main-doc article {
  margin-left: min(1rem, 2vw);
}

#main-doc .indent {
  margin-left: min(2rem, 4vw);
}

#main-doc li {
  margin-top: 5px;
}

code {
  /* background-color: rgba(236, 233, 233, 0.9); */
  font-size: 1rem;
  margin-top: 1rem;
}

/* MEDIA QUERY */

@media (max-width: 640px) {
  body {
    flex-direction: column;
    justify-content: start;
  }
  #navbar {
    height: auto;
  }
  #navbar li:last-of-type {
    border-bottom: 2px solid rgba(188, 188, 188, 0.5);
  }
}
