/* #image => max-width, height => responsive relative to width of parent
    img => centered */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(66, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 80%;
  max-width: 900px;
  background-color: black;
  color: whitesmoke;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}

#title {
  text-align: center;
  padding-bottom: 10px;
}

#img-div {
  width: 80%;
  margin: 0 auto;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

img {
  margin: 0 auto;
  display: block;
}

#image {
  width: min(360px, 80%);
  max-width: 100%;
}

#img-caption {
  padding-bottom: 5px;
}

#tribute-info {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  border-bottom: 2px solid grey;
}

#tribute-link {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  margin-top: 10px;
}
